.text-btn {
  background: none;
  border: none;
  padding: 0;
  font-weight: 600;
  cursor: pointer;
  color: inherit;
  line-height: 1;
}
.card {
  height: 100%;
  overflow: hidden;
  margin-bottom: 8px;
}
.card--inline {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
  margin: 0;
}
.card--inline:hover {
  border-color: rgba(0,0,0,0.2);
}
.card--inline .text-btn {
  width: 100%;
  font-size: inherit;
}

@media (min-width: 744px) {
  .card--inline .text-btn {
    display: flex;
    align-items: center;
  }
  .card--inline .card-avatar {
    width: 96px;
  }
  .card--inline .card-image {
    border-radius: 0;
  }
}
.card-avatar {
  width: 100%;
}
.card-label {
  padding: 16px;
  text-align: left;
}
.card-image {
  padding-top: 66.6667%;
  position: relative;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  background-color: rgba(0,0,0,.05);
  background-size: cover;
  background-position: center;
}
.card-image-fav {
  position: absolute;
  top: 16px;
  right: 16px;
} 
.card-image-fav .icon-heart {
  fill: #484848;
  fill-opacity: 0.6;
  stroke: #ffffff;
  stroke-width: 1.5;
  height: 32px;
  width: 32px;
}
.card-image-fav.active .icon-heart {
  fill: rgb(245, 60, 35);
}
.card-image-fav:hover .icon-heart{
  fill-opacity: 1
}
.card-tag {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 8px 0 2px;
}
.card-tag:hover {
  text-decoration: underline;
}
.card-title {
  font-size: 19px;
  line-height: 22px;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}