@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  background-color: #fff;
}
body {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}
html, body, #root, .wrapper {
  height: 100%;
}
body, button, input {
  font-family: 'Open Sans', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
h1, h2, h3 {
  font-weight: 700;
  margin-top: 0;
}
a {
  text-decoration: none;
}

.wrapper,
.page-container {
  display: flex;
  flex-direction: column;
}
.container,
.filter-container {
  padding: 16px;
}
@media (min-width: 1128px) {
  .container,
  .filter-container {
    padding: 16px 72px;
  }
}
header.container,
.filter-container {
  border-bottom: 1px solid rgba(0,0,0,.05);
}
.filter-container key {
  padding: 2px 5px;
  color: #fff;
  background-color: #555;
  border-radius: 2px;
  font-size: 75%;
  text-transform: capitalize;
}
.filter-container code {
  text-transform: uppercase;
  background-color: #eee;
  border-radius: 2px;
  padding: 2px 5px;
  font-weight: 400
}
.filter-container big {
  cursor: pointer;
}

.page-container .container {
  flex: 1;
  overflow-x: hidden;
}
header.container h2,
.filter-container h4 {
  margin: 0;
}
.section {
  margin: 24px 0 8px;
}
.columns {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.columns.no-wrap {
  flex-wrap: nowrap;
}
.column {
  flex: 1 1 100%;
  padding: 0 8px 12px;
}
@media (min-width: 744px) {
  .column {
    flex-basis: 0%;
  }
  .column.is1of4 {
    flex-basis: 25%;
    flex-grow: 0;
  }
}
